/*   
	Css voor global layout
	Robby 
	(don't fuck it up)
*/

*{
	padding:0;
	margin:0;
}

body{
	height: 100%;
	width: 100%;
	background-color: #D8D4CF;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
             "Helvetica Neue", sans-serif;
	font-weight: 300;
}

html{
	height: 100%;
}

#container{
	height: 100%;
}


/*
	MENU
*/


#menu{
	width: 160px;
	background-color: #333;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	position: fixed;
	top: 0;
	right: 10px;
	opacity: 0.9;
}

#menu li{
	list-style: none;
	margin-left: 8px;
	margin: 6px; 
}

.menuItem{
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: white;
}

.menuItem:hover{
	color: orange;
}

.menuItemActive{
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: orange;
}

/* Advanced menu for bigger screens */
/*@media all and (min-height: 480px){

}*/

/* No menu for small mobile devices and print */
@media all and (max-height: 480px),(max-width: 640px){
	#menu{
		display: none;
	}
}
@media print{
	#menu{
		display: none;
	}
}


/*
	DIVS
*/

.pageDiv{
	height: 100%;
}

#intro{
	background-color: #D8C2AC;
}

#projects{
	background-color: #B9C2D8;
}

#results{
	background-color: #AFD8D5;
}

#slides{
	background-color: #A3D8B2;
}

#callToAction{
	background-color: #BED891;
}

/*
	Intro
*/
#intromovie{
	width: 100%;
	height: 100%;
}

/*
	Results
*/

#results {
	background-image: url('/assets/img/background.jpg');
	height: 100%;
}

#vraag{
	background-color: rgba(0,0,0,0.2);
	width: 50%;
	height: 100%;
}
#vraag h1 {
	font-family: 'Merriweather Sans', sans-serif;
    font-size: 48px;
    color: white;
}

#antwoord{
	background-color: rgba(0,0,0,0.6);
	width: 50%;
	height: 100%;
}
