/*   
	Css voor global layout
	Robby 
	(don't fuck it up)
*/

*{
	padding:0;
	margin:0;
}

body{
	height: 100%;
	width: 100%;
	background-color: #D8D4CF;
}

html{
	height: 100%;
}

#container{
	height: 100%;
}


/*
	MENU
*/


#menu{
	width: 160px;
	background-color: #333;
	padding: 10px;
	padding-bottom: 15px;
	padding-top: 15px;
	position: fixed;
	top: 0;
	right: 10px;
}

#menu li{
	list-style: none;
	margin-left: 8px;
	margin: 6px; 
}

.menuItem{
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: white;
}

.menuItem:hover{
	color: orange;
}

.menuItemActive{
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	color: orange;
}

/*
	DIVS
*/

.pageDiv{
	height: 100%;
}

#intro{
	background-color: #D8C2AC;
}

#projects{
	background-color: #B9C2D8;
}

#results{
	background-color: #AFD8D5;
}

#slides{
	background-color: #A3D8B2;
}

#callToAction{
	background-color: #BED891;
}