/*   
	Css voor d3 graphs
	Kasper
*/
#results {
	position: absolute;
	top: 0px;
	background-image: url('/assets/img/background.jpg');
	height: 100%;

}

#vraag{
	background-color: rgba(0,0,0,0.2);
	width: 50%;
	height: 100%;
}
#vraag h1 {
	font-family: 'Merriweather Sans', sans-serif;
    font-size: 48px;
    color: white;
}

#antwoord{
	background-color: rgba(0,0,0,0.6);
	width: 50%;
	height: 100%;
}